/*
 PALETA 
#ff9a76 NARANJA
#ffeadb NARANJA CLARO
#679b9b VERDE
#637373 VERDE OSCURO
*/
* {
	margin: 0;
	padding: 0;
	outline: 0;	/*pa que*/
	box-sizing: border-box; /*pa que*/
}
*:focus {
  outline: 0;	/*pa que*/
}
body {
	font: 15px 'Poppins', sans-serif;
	background-color: hsl(0, 0%, 98%);
}
	/*el container de todo*/
	.page {
		max-width: 100%;  /* 1440px */
		width: 100%;
		margin: 0 auto;
    }

/* HEADER */
header {
    width: 100%;
    height: 120px;
    background: #272727;
    display: block;
}
.inner-header{
    height: 120px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    /* border: 1px solid red; */
}
.logo-container{
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
    margin-left: 20px;
    /* border: 1px solid red; */
}
    #logo-header{
        max-width: 180px;
        /* border: 1px solid red; */
    }
.navigation{
    float: right;
    height: 100%;
    /* border: 1px solid red; */
}
    .navigation a{
        height: 100%;
        display: table;
        float: left;
        padding: 0 20px;
        /* border: 1px solid red; */
        text-decoration: none;
    }
    .navigation a li{
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: white;
        font-size: 1.1rem;
    }

/* COURSE'S CARDS */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 5%; */
    /* border: 1px solid red; */
}
    .inner-main{
        width: 1440px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* border: 1px solid red; */
        background: lightgray;
    }
    .inner-main .ins-met-section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        /* padding: 1%; */
        /* border: 1px solid red; */
        background: lightgray;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .inner-main .ins-met-section .info-left{
        width: 100%;
        height: 350px;
        flex: 1;
        /* border: 1px solid #343a40; */
        padding: 0;
        margin-right: 10px;
    }
        .inner-main .ins-met-section .info-left .info-card:nth-child(1){
            margin-bottom: 0;
            /* border: 1px solid red; */
        }
    .inner-main .ins-met-section .info-right{
        width: 100%;
        height: 350px;
        flex: 1;
        /* border: 1px solid #343a40; */
        padding: 0;
        margin-left: 10px;
    }
        .inner-main .ins-met-section .info-right .info-card:nth-child(1){
            margin-bottom: 0;
            /* border: 1px solid red; */
        }
    .inner-main .courses-section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5%;
        /* border: 1px solid red; */
        background: white;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    /*todas las cartas de los cursos*/
    .card {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        background-color: #fff;
        max-width: 350px;
        /* padding: 30px; */
        /* box-shadow: 0 10px 15px 0 #e0e9f2; */
        /* border: 4px solid; */
        /* border-radius: 10px; */
    }
        /*las imagenes de las cartas/cursos */
        .card .card-photo{
            display: flex;
            justify-content: center;
            align-items: center;
            /* padding: 0 17px; */
            /* border: 1px solid red; */
            height: 100%;
        }
        #photo{
            max-width: 100%;
            max-height: 100%;
            border-radius: 5px;
            border-radius: 0px 0px 50px 50px;
            /* border: 1px solid red; */
            box-shadow: 0 10px 15px 0 #e0e9f2;
        }
        .card .card-text{
            display: flex;
            flex-direction: column;
        }
    .left-section {
        margin: 0 30px;
    }
        .left-section .card:nth-child(1) {
            border-color: #F3A77F;
        }
        .left-section .card:nth-child(2) {
            border-color:  #F3A77F;
            margin-top: 30px;
        }
    .middle-section {
        margin: 0 30px;
    }
        .middle-section .card:nth-child(1) {
            border-color: #F3A77F;
        }
        .middle-section .card:nth-child(2) {
            border-color:  #F3A77F;
            margin-top: 30px;
        }
        .middle-section .card:nth-child(3) {
            border-color:  #F3A77F;
            margin-top: 30px;
        }
    .right-section {
        margin: 0 30px;
    }
        .right-section .card:nth-child(1) {
            border-color: #F3A77F;
        }
        .right-section .card:nth-child(2) {
            border-color:  #F3A77F;
            margin-top: 30px;
        }
.inner-main .title-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1%;
    /* border: 1px solid red; */
    background: #FF924F;
    margin-bottom: 20px;
    border-radius: 10px;
}
    
    .inner-main .title-section p{
        font-size: 2.25rem;
        font-weight: 1000;
        color: hsl(234, 12%, 34%);
    }
.inner-main .information-section{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 5%; */
    /* border: 1px solid red; */
    background: lightgray;
}
    .inner-main .information-section .info-left{
        width: 100%;
        flex: 1;
        /* border: 1px solid #343a40; */
        padding: 0;
        margin-right: 10px;
    }
    .inner-main .information-section .info-left .info-card:nth-child(4){
        margin-bottom: 0;
        /* border: 1px solid red; */
    }
    .inner-main .information-section .info-right{
        flex: 1;
        align-items: flex-start;
        /* border: 1px solid #343a40; */
        padding: 0;
        margin-left: 10px;
    }
    .inner-main .information-section .info-right .info-card:nth-child(3){
        margin-bottom: 0;
        /* border: 1px solid red; */
    }

.info-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5%;
    /* border: 1px solid red; */
    background: white;
    margin-bottom: 20px;
    border-radius: 10px;
}
.info-card h3{
    font-size: 1.3em;
    color: hsl(234, 12%, 34%);
    text-align: center;
}
.info-card p{
    font-size: 0.9em;
    color: hsl(229, 6%, 66%);
    line-height: 1.9em;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* FOOTER */
footer{
    background: #303036;
    color: #d3d3d3;
    position: relative;
    padding: 0px 100px 0px 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.inner-footer{
    width: 1440px;
    height: 120px;
    display: block;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
}

footer .footer-content{
    display: flex;
    height: 350px;
}

footer .footer-content .footer-left{
    flex: 1;
    /* border: 1px solid #343a40; */
    padding: 35px;
    padding-top: 50px;
}

    #logo-section{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        color: #F26836;
        /* margin-left: 30px; */
    }
        #logo-balcarce{
            max-width: 190px;
            filter: grayscale(100%);
        }
        #section-wsp{
            display: flex;
            align-items: center;
            margin-top: 25px;
        }
            #icon-whatsapp{
                max-width: 30px;
                margin-right: 10px;
            }
        #section-mail{
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
            #icon-gmail{
                max-width: 30px;
                margin-right: 10px;
            }

footer .footer-content .footer-middle{
    flex: 1;
    /* border: 1px solid #343a40; */
    padding: 20px 35px;
    justify-content: center;
    text-align: center;
}
    footer .footer-content .footer-middle .contact-us-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer .footer-content .footer-middle h1{
        font-size: 1.8em;
    }
    footer .footer-content .footer-middle p{
        font-size: 1em;
    }
    footer .footer-content .footer-middle form{
        display: flex;
        flex-direction: column;
    }
    footer .footer-content .footer-middle form .contact-input{
        background: #272727;
        color: #bebdbd;
        margin: 5px 0 5px 0;
        line-height: 1.5rem;
        padding: 0.7rem 1.2rem;
        border: none;
    }
.btn-wrapper{
    /* border: 1px solid red; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    button {
    background: none;
    color: #ccc;
    width: 140px;
    height: 40px;
    border: 1px solid #F26836;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    }
    
    button:focus {
    outline: none;
    }
    
    button:before {
        background: rgba(255,255,255,.5);
        width: 60px;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-10px) skewX(-15deg);
    }
    
    button:after {
        background: rgba(255,255,255,.2);
        width: 30px;
        opacity: 0;
        filter: blur(30px);
        transform: translateX(-10px) scaleX(-15deg);
    }
    
    button:hover {
        background: #F26836;
        cursor: pointer;
    }
    
    button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
    }
    
    button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
    }
.social-icons{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 25px;
    /* height: 50px; */
}
    .social-icons ul{
        display: flex;
        /* border: 1px solid red; */
    }
    .social-icons ul li{
        /* border: 1px solid red; */
        list-style: none;
        margin: 0 10px;
    }
    .social-icons ul li .fab{
        font-size: 30px;
        line-height: 60px;
        transition: .6s;
        color: #000;
    }
    .social-icons ul li .fab:hover{
        color: #fff;
    }
    .social-icons ul li a{
        /* border: 1px solid red; */
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: lightgray;
        text-align: center;
        transition: .6s;
        box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
    }
    .social-icons ul li a:hover{
        transform: translate(0, -15px);
    }
    .social-icons ul li:nth-child(1) a:hover{
        background-color: #3b5999;
    }
    .social-icons ul li:nth-child(2) a:hover{
        background-color: #e4405f;
    }
    
footer .footer-content .footer-right{
    flex: 1;
    /* border: 1px solid #343a40; */
    padding: 35px;
}


footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px; /*?*/
    left: 0px;  /*?*/
    padding-top: 10px;
}