/*
 PALETA 
#ff9a76 NARANJA
#ffeadb NARANJA CLARO
#679b9b VERDE
#637373 VERDE OSCURO
*/
* {
	margin: 0;
	padding: 0;
	outline: 0;	/*pa que*/
	box-sizing: border-box; /*pa que*/
}
*:focus {
  outline: 0;	/*pa que*/
}
body {
	font: 15px 'Poppins', sans-serif;
	background-color: hsl(0, 0%, 98%);
}
	/*el container de todo*/
	.page {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
    }

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    background-color: #343434;
}
    #logo-header{
        max-width: 200px;
        margin-left: 50px;
        /* border: 1px solid red; */
    }

/* COURSE'S CARDS */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
    /*todas las cartas*/
    .card {
        /*contenido*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /*box*/
        background-color: #fff;
        max-width: 350px;
        padding: 30px;
        box-shadow: 0 10px 15px 0 #e0e9f2;
        border-top: 4px solid;
        border-radius: 10px;
    }
        /*contenido*/
        .card h3 {
            font-size: 1.3em;
            color: hsl(234, 12%, 34%);
        }
        .card p {
            font-size: 0.9em;
            color: hsl(229, 6%, 66%);
            line-height: 1.9em;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .card img {
            align-self: flex-end;
            margin-top: 15px;
        }
    /*bordes y margenes*/
    .left-section {
        margin: 0 30px;
    }
        .left-section .card:nth-child(1) {
            border-color: #F3A77F;
        }
        .left-section .card:nth-child(2) {
            border-color:  #F3A77F;
            margin-top: 30px;
        }
    .middle-section {
        margin: 0 30px;
    }
        .middle-section .card:nth-child(1) {
            border-color: #F3A77F;
        }
        .middle-section .card:nth-child(2) {
            border-color:  #F3A77F;
            margin-top: 30px;
        }
        .middle-section .card:nth-child(3) {
            border-color:  #F3A77F;
            margin-top: 30px;
        }
    .right-section {
        margin: 0 30px;
    }
        .right-section .card:nth-child(1) {
            border-color: #F3A77F;
        }
        .right-section .card:nth-child(2) {
            border-color:  #F3A77F;
            margin-top: 30px;
        }

/* FOOTER */
footer{
    background: #303036;
    color: #d3d3d3;
    position: relative;
    padding: 0px 100px 0px 100px;
    height: 400px;
}

footer .footer-content{
    display: flex;
    height: 350px;
}

footer .footer-content .footer-left{
    flex: 1;
    border: 1px solid #343a40;
    padding: 35px;
    padding-top: 50px;
}

    #logo-section{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        color: #F26836;
        /* margin-left: 30px; */
    }
        #logo-balcarce{
            max-width: 190px;
        }
        #section-wsp{
            display: flex;
            align-items: center;
            margin-top: 25px;
        }
            #icon-whatsapp{
                max-width: 30px;
                margin-right: 10px;
            }
        #section-mail{
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
            #icon-gmail{
                max-width: 30px;
                margin-right: 10px;
            }

footer .footer-content .footer-middle{
    flex: 1;
    /* border: 1px solid #343a40; */
    padding: 35px;
    justify-content: center;
    text-align: center;
}
    footer .footer-content .footer-middle .contact-us-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer .footer-content .footer-middle h1{
        font-size: 1.8em;
    }
    footer .footer-content .footer-middle p{
        font-size: 1em;
    }
    #icon-facebook{
        max-width: 38px;
        margin: 0 10px 0 55px;
    }
    #icon-instagram{
        max-width: 38px;
    }
    /* footer .footer-content .footer-middle #icon-facebook:hover{
        color: hsl(0, 0%, 98%);
        transition: all 3s;
    }
    footer .footer-content .footer-middle #icon-instagram:hover{
        color: hsl(0, 0%, 98%);
        transition: all 3s;
    } */
    footer .footer-content .footer-middle form{
        display: flex;
        flex-direction: column;
    }
    /* .text-input{
        color: ;
    } */
    footer .footer-content .footer-middle form .contact-input{
        background: #272727;
        color: #bebdbd;
        margin: 10px 0 5px 0;
        line-height: 1.5rem;
        padding: 0.7rem 1.2rem;
        border: none;
    }
/* AHORA */
/* AHORA */
/* AHORA */
/* AHORA */
/* AHORA */
footer .footer-content .footer-right{
    flex: 1;
    border: 1px solid #343a40;
    padding: 35px;
}


footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px; /*?*/
    left: 0px;  /*?*/
    padding-top: 10px;
}