* {
	margin: 0;
	padding: 0;
	outline: 0;	/*pa que*/
	box-sizing: border-box; /*pa que*/
}
*:focus {
  outline: 0;	/*pa que*/
}
body {
	font: 15px 'Poppins', sans-serif;
	background-color: hsl(0, 0%, 98%);
}
	/*el container de todo*/
	.page {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
    }

/*header section*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 70px 0;
    background-color: #111;
}
    /*texto*/
    header h1 {
        max-width: 500px;
        font-size: 2.5em;
        font-weight: 200;
        color: hsl(234, 12%, 34%);
    }
    header h2 {
        max-width: 500px;
        font-size: 2.5em;
        color: hsl(234, 12%, 34%);
    }
    header p {
        max-width: 500px;
        font-size: 1em;
        color: hsl(229, 6%, 66%);
        margin-top: 15px;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8%;
    }
        /*todas las cartas*/
        .card {
            /*contenido*/
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /*box*/
            background-color: #fff;
            max-width: 350px;
            padding: 30px;
            box-shadow: 0 10px 15px 0 #e0e9f2;
            border-top: 4px solid;
            border-radius: 10px;
        }
            /*contenido*/
            .card h3 {
                font-size: 1.3em;
                color: hsl(234, 12%, 34%);
            }
            .card p {
                font-size: 0.9em;
                color: hsl(229, 6%, 66%);
                line-height: 1.9em;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            .card img {
                align-self: flex-end;
                margin-top: 15px;
            }
        /*bordes y margenes*/
        .left-section {
            margin: 0 30px;
        }
            .left-section .card:nth-child(1) {
                border-color: #F3A77F;
            }
            .left-section .card:nth-child(2) {
                border-color:  #F3A77F;
                margin-top: 30px;
            }
        .middle-section {
            margin: 0 30px;
        }
            .middle-section .card:nth-child(1) {
                border-color: #F3A77F;
            }
            .middle-section .card:nth-child(2) {
                border-color:  #F3A77F;
                margin-top: 30px;
            }
            .middle-section .card:nth-child(3) {
                border-color:  #F3A77F;
                margin-top: 30px;
            }
        .right-section {
            margin: 0 30px;
        }
            .right-section .card:nth-child(1) {
                border-color: #F3A77F;
            }
            .right-section .card:nth-child(2) {
                border-color:  #F3A77F;
                margin-top: 30px;
            }

footer {
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    align-items: center;
    padding: 70px 0;
    background-color: #111;
}
    footer .left-section{
        /*contenido*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/*box*/
		background-color: #222;
		max-width: 350px;
		padding: 30px;
		border-top: 4px solid;
		border-radius: 10px;
    }
    footer .middle-section{
        /*contenido*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/*box*/
		background-color: #222;
		max-width: 350px;
		padding: 30px;
		border-top: 4px solid;
		border-radius: 10px;
    }
    footer .rigth-section{
        /*contenido*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/*box*/
		background-color: #222;
		max-width: 350px;
		padding: 30px;
		border-top: 4px solid;
		border-radius: 10px;
    }
    /*texto*/
    footer h1 {
        max-width: 500px;
        font-size: 2.5em;
        font-weight: 200;
        color: hsl(234, 12%, 34%);
    }
    footer h2 {
        max-width: 500px;
        font-size: 2.5em;
        color: hsl(234, 12%, 34%);
    }
    footer p {
        max-width: 500px;
        font-size: 1em;
        color: hsl(229, 6%, 66%);
        margin-top: 15px;
    }