/*basic reset*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: 0;	/*pa que*/
	box-sizing: border-box; /*pa que*/
}
*:focus {
    outline: 0;	/*pa que*/
}
/*custom properties*/
:root {
    --dark-color: #2d2c2c;
    --orange-solid: #350a4f;
    --orange-transparent: rgba(239, 208, 182, .7);
    --orange-transparent-alt: rgba(53, 10, 79, .7);
    --orange-light: #8f50fb;
    --violet-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-coloralt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}
/* global styles */
html{
    font-size: 10px;
}
body {
    font: 15px 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-color);
	background: #f7ece3;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}

/*toda la pagina ecepto el footer*/
.page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* max-width: 1440px; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

/* HEADER */
header {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background: var(--orange-transparent);
    z-index: 999;
    padding: 2px 0;
    /* border: 1px solid red; */
}
.inner-header {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* border: 1px solid red; */
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* border: 1px solid red; */
}
.logo img {
    /* max-width: 60%; */
    height: 70px;
}
.hamburguer-menu {
    font-size: 2.6rem;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}
.nav-item{
    /* border: 1px solid red; */
    padding: 2px;
}
.nav-item:hover {
    color: #fff;
    /* font-weight: bold; */
    transition: .3s;
}
.hamburguer-menu .fa-bars{
    display: none;
}
.hamburguer-menu .fa-times {
    display: none;
}
.nav-list {
    display: flex;
    flex-direction: row;
}
.nav-item {
    margin-left: 20px;
    font-size: 2rem;
}







/* SECTIONS */
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid red;
}


/* LANDING */
#cont-landing {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 70px;
    /* padding: 100px 0; */
    /* border: 1px solid red; */
}
.ineer-main-landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    font-size: 4.5rem;
    letter-spacing: .5rem;
    line-height: 10rem;
    border: 1px solid red;
}
    #btn-landing{
        color: #111;
        width: 300px;
        height: 50px;
        margin-top: 20px;
        font-weight: bold;
    }

/* COURSES */
#cont-courses {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid red; */
    /* padding: 100px; */
}
.inner-main-courses{
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px 20px;
    border: 1px solid red;
}
.left-courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* flex: 1; */
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    /* margin-right: 10px; */
    padding: 20px 10px 0 20px;
}
.right-courses{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* flex: 1; */
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    /* margin-left: 10px; */
    padding: 20px 20px 0 10px;
}
    .course-card{
        display: flex;
        flex-direction: row;
        width: 550px;
        height: 300px;
        /* border: 1px solid red; */
        padding: 20px;
        margin: 0;
        margin-bottom: 20px;
        border-radius: 10px;
        background: #f7f2ea;
        box-shadow: 0 10px 15px 0 #b7a68d;
    }
    .photo-container{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        height: 100%;
        margin-right: 10px;
        /* border: 1px solid red; */
    }
    #photo{
        max-width: 250px;
        /* max-height: 100px; */
        border-radius: 5px;
        border-radius: 0px 0px 40px 40px;
        box-shadow: 0 5px 10px 0 #b7a68d;
        /* border: 1px solid red; */
    }
    .course-card p{
        font-size: 1em;
        font-weight: bolder;
        /* color: #343a40; */
        line-height: 1.7em;
    }
    .card-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        /* border: 1px solid red; */
    }
    .left-courses .course-card:nth-child(5){
        margin-bottom: 0;
    }
    .right-courses .course-card:nth-child(5){
        margin-bottom: 0;
    }

/* CONTACT-FORM */
#cont-contact {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px 0;
    /* height: 500px; */
    /* width: 100%; */
    /* background: #fff; */
    
    
    /* margin: 40px 0; */
    border: 1px solid red;
}
    #cont-contact h1{
        font-size: 5rem;
        padding: 20px;
        /* width: 1000px;    */
        text-align: center;
        background: #f7ece3;
        /* border: 1px solid red; */
        box-shadow: 0 5px 10px 0 #b7a68d;
        border-radius: 10px;
    }
    #cont-contact-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        border: 1px solid red;
        margin-bottom: 20px;
    }
    .inner-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-width: 1440px; */
        width: 100%;
        height: 100%;
        padding: 20px 0;
        background: #fff;
        box-shadow: 0 5px 10px 0 #b7a68d;
        /* border-radius: 10px; */
        border: 1px solid red ;
    }
    #cont-contact-form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1440px;
        width: 100%;
        height: 100%;
        padding: 20px;
        
        border: 1px solid red;
    }
    #cont-contact-form .left-form{
        display: flex;
        flex-direction: column;
        flex: .4;
        margin-right: 10px;
        padding: 20px;
        /* border: 1px solid red; */
    }
    #cont-contact-form .right-form{
        display: flex;
        flex-direction: column;
        flex: .4;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        padding: 20px;
        /* border: 1px solid red; */
    }
        #cont-contact-form .input-form{
            padding: 20px;
            margin-bottom: 20px;
            font-size: 1.7rem;
            background: #f7ece3;
            /* border: 1px solid var(--dark-color); */
            box-shadow: 0 5px 10px 0 #b7a68d;
            border: none;
            border-radius: 10px;
        }
        #cont-contact-form .right-form textarea{
            height: 210px;
            width: 100%;
            resize: none;
        }
        #cont-contact-form .right-form #btn-send-email{
            color: #343a40;
            /* background: #f7ece3; */
        }


/* SIGUIENTES CONTENIDOS */



/* FOOTER */
footer{
    background: #303036;
    color: #d3d3d3;
    position: relative;
    padding: 0px 100px 0px 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.inner-footer{
    width: 1440px;
    height: 120px;
    display: block;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
}

footer .footer-content{
    display: flex;
    height: 350px;
}

footer .footer-content .footer-left{
    flex: 1;
    /* border: 1px solid #343a40; */
    padding: 35px;
    padding-top: 50px;
}

    #logo-section{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        color: #F26836;
        /* margin-left: 30px; */
    }
        #logo-balcarce{
            max-width: 190px;
            filter: grayscale(100%);
        }
        #section-wsp{
            display: flex;
            align-items: center;
            margin-top: 25px;
        }
            #icon-whatsapp{
                max-width: 30px;
                margin-right: 10px;
            }
        #section-mail{
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
            #icon-gmail{
                max-width: 30px;
                margin-right: 10px;
            }

footer .footer-content .footer-middle{
    flex: 1;
    /* border: 1px solid #343a40; */
    padding: 20px 35px;
    justify-content: center;
    text-align: center;
}
    footer .footer-content .footer-middle .contact-us-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer .footer-content .footer-middle h1{
        font-size: 1.8em;
    }
    footer .footer-content .footer-middle p{
        font-size: 1em;
    }
    footer .footer-content .footer-middle form{
        display: flex;
        flex-direction: column;
    }
    footer .footer-content .footer-middle form .contact-input{
        background: #272727;
        color: #bebdbd;
        margin: 5px 0 5px 0;
        line-height: 1.5rem;
        padding: 0.7rem 1.2rem;
        border: none;
    }
.btn-wrapper{
    /* border: 1px solid red; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    button {
    background: none;
    color: #ccc;
    width: 140px;
    height: 40px;
    /* border: 1px solid #F26836; */
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    }
    
    button:focus {
    outline: none;
    }
    
    button:before {
        background: rgba(255,255,255,.5);
        width: 60px;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-10px) skewX(-15deg);
    }
    
    button:after {
        background: rgba(255,255,255,.2);
        width: 30px;
        opacity: 0;
        filter: blur(30px);
        transform: translateX(-10px) scaleX(-15deg);
    }
    
    button:hover {
        background: #f7ece3;
        cursor: pointer;
    }
    
    button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
    }
    
    button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
    }
.social-icons{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 25px;
    /* height: 50px; */
}
    .social-icons ul{
        display: flex;
        /* border: 1px solid red; */
    }
    .social-icons ul li{
        /* border: 1px solid red; */
        list-style: none;
        margin: 0 10px;
    }
    .social-icons ul li .fab{
        font-size: 30px;
        line-height: 60px;
        transition: .6s;
        color: #000;
    }
    .social-icons ul li .fab:hover{
        color: #fff;
    }
    .social-icons ul li a{
        /* border: 1px solid red; */
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: lightgray;
        text-align: center;
        transition: .6s;
        box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
    }
    .social-icons ul li a:hover{
        transform: translate(0, -15px);
    }
    .social-icons ul li:nth-child(1) a:hover{
        background-color: #3b5999;
    }
    .social-icons ul li:nth-child(2) a:hover{
        background-color: #e4405f;
    }
    
footer .footer-content .footer-right{
    flex: 1;
    /* border: 1px solid #343a40; */
    padding: 35px;
}


footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px; /*?*/
    left: 0px;  /*?*/
    padding-top: 10px;
}









/* PHONE */

@media screen and (max-width: 790px) {
    /* hamburguer phone */
    header{
        padding: 45px 0;
        /* border-bottom: 1px solid var(--dark-color); */
        /* border: 1px solid red; */
    }
    .nav{
        padding: 0 40px;
    }
    .hamburguer-menu .fa-bars {
        display: contents;
    }
    .hamburguer-menu:hover {
        color: #fff;
        font-weight: bold;
        transition: .3s;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1400;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(239, 208, 182, 1);
        line-height: 10rem;
        letter-spacing: 1.2rem;
        padding: 1rem;
        text-transform: uppercase;
        opacity: 0;
        transform: scale(0);
        transition: opacity .5s;
    }
    .menu-open .nav-list {
        opacity: 1;
        transform: scale(1);
    }
    .nav-link {
        display: block;
        font-size: 3rem;
    }
    .nav-item:hover {
        color: #fff;
        font-weight: bold;
        transition: .3s;
    }
    .menu-open .hamburguer-menu .fa-times {
        display: block;
    }
    .menu-open .hamburguer-menu .fa-bars {
        display: none;
    }

    /*section-landing*/
    #cont-landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    #cont-landing h1 {
        font-size: 4.5rem;
    }
    #cont-landing p {
        font-size: 2.5rem;
    }
    /* section-courses */
    #cont-courses {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    .left-courses{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        padding: 10px 0;
        /* border: 1px solid red; */
    }
    .right-courses{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        /* border: 1px solid red; */
    }
    .course-card{
        /* border: 1px solid red; */
    }
    .photo-container{
        /* border: 1px solid red; */
    }
    #photo{
        /* border: 1px solid red; */
        /* width: 200px; */
        height: 100%;
        margin: 0;
    }
    .card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* border: 1px solid red; */
    }
    /* section-contact */
    #cont-contact, #cont-contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    #cont-contact-form .left-form{
        display: flex;
        flex-direction: column;
        width: 600px;
        margin-right: 0;
        padding: 20px;
        /* border: 1px solid red; */
    }
    #cont-contact-form .right-form{
        display: flex;
        flex-direction: column;
        width: 600px;
        margin-left: 0;
        padding: 20px;
        /* border: 1px solid red; */
    }
}